/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

.row {
	margin-left: 0;
	margin-right: 0;
}

header {
	background-color: red;
}

.cv-wrapper {
	border-radius: 10px;
	border: 1px solid black;
	padding: 0.7em;
	overflow: hidden;
}

.cv-wrapper a img {
	border-radius: 10px;
}

main {
	background-color: rgb(200,140,20);
	margin-bottom: 2em;
}

.grid-item {
	padding: 2em;
}

.grid-title {
	text-align: center;
	padding-bottom: .5em;
	border-bottom: .5px solid black;
}

.grid-item .card-body {
	text-align: center;
}

footer {
	min-height: 2em;
	background-color: grey;
	position: fixed;
	bottom: 0;
	width: 100%;
}